:root  > * {
    --md-primary-fg-color:        #EC7211;
    --md-primary-fg-color--light: #FF9900;
    --md-primary-fg-color--dark:  #C25400;
    
    --md-accent-fg-color:         #FF9900;
    --md-accent-fg-color--light:  #FFB84D;
    --md-accent-fg-color--dark:   #E68A00;
}


[data-md-color-scheme="slate"] .md-header__button.md-logo img {
  content: url('../assets/aws-logo-dark.svg');
}
